  @charset "UTF-8";
  
  
	/*---- Strona ----*/
  body,
  html {
	margin: 0 auto 0;
	max-width: 960px;
	text-align: left;
	box-shadow: 0 0 5px #15283c;
	border-radius: 0 0 5px 5px;
    padding:0;
    background: lightblue;
	background-attachment:fixed;
    color:#000;
	position: relative;
	font-family:"Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	
  }

#glowny_pojemnik {
	color: black;
  }
  
	/*---- Nagłówek ----*/
#naglowek {
	position: relative;
    background: url(Obrazki/logo.jpg) no-repeat left top #dee9f5; 
	background-position:full;
	width:100%; 
	height:100px;
  }
  
 	/*---- Lewy górny róg strony/ link do głownej----
  .ob_link {
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 100;
	width: 150px;
	height: 90px;
	cursor: pointer;
	display: block;
	text-decoration: none;
  }*/
  
	/*---- Napis w nagłowku ----*/
  .h  {
	padding: 13px 0 0 220px;
	text-decoration: none;
	text-shadow: 2px 1px 0 gray;
	color: #333a43;
	font-size: 25px;
	overflow: hidden;
	white-space: nowrap;
  }
 

.navbar{
	max-width: 960px;
	box-shadow: 0 0 5px #15283c;
	position: fixed;
	min-height: 30px;
	font-size: 15px;
	width: 100%;
	background: url(Obrazki/menu_bg_v3.png) no-repeat left top #dee9f5; 
}

ul > li > a {
	margin: 1px;
	height: auto;
	
	position:static;
	border-style: double;
	border-radius: 5px;
	
}
ul > li > a:hover{
	background-color:white;
	border-style: double;
	border-radius: 5px;
	box-shadow: 0 0 3px #15283c;
}

 
.dropdown-menu {
	 background-color: #E6E6FA; 
	 
 }
  
.dropdown-item {
	border:1px solid white;
	margin-top:2px;
	border-radius: 5px;
	
}
.dropdown-item:hover {
	box-shadow: 0 0 3px #15283c;
	
}
	/*---- Treść strony/zawartość/środek ----*/
#srodek {
	
    overflow: auto;
	padding: 75px 25px 25px 25px ;
    /*height: 700px;*/
	width: 100%;
	float: left;
	background-color: white;
	margin-top: 2px;
}

#srodek h1{

	padding-top:0px;
	font-size:15px;
	font-family:"Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight:lighter;
	color:black;
	text-align:left;
	
}
#srodek h2 {

	padding-top:0px;
	font-size:25px;
	font-family:"Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight:lighter;
	color:black;
	border-bottom:1px solid #FF69B4;
	text-align:left;
    }


	#srodek section{
	/*margin-top: 10px;*/
	/*background-color: #FF69B4;*/
}
	#srodek h3 {
    font: 12px Arial, Helvetica, sans-serif;
    text-align: center;
	text-align:justify;
	line-height: 18px;
    }
	
	
	#picture {
	margin-left: 20px;
	float: right;
	clear:both;
}

	#picture2 {
	margin-right: 20px;
	float: left;
	clear:both;
}


	
	/*---- To na samym dole strony----*/
  #stopka {
	width:100%; 
	height:25px;
	clear:both;
	color:white;
	background-color:gray;
	padding:0 0 0 5px ;
	
  }
 



.to-top { 	
	position: fixed; 
	bottom: 65px; 
	right: 20px; 
	text-decoration: none; 
	color: #fff; 
	background: #151f28; 
	padding: 10px 15px; 
	display: none; 
	border-radius:40%;
}
.to-top :hover{ 
	color: #151f28; 
	background: #fff; 
}
.to-bottom { 	
	position: fixed; 
	bottom: 20px; 
	right: 20px; 
	text-decoration: none; 
	color: #fff; 
	background: #151f28; 
	padding: 10px 15px; 
	display: none; 
	border-radius:40%;
}
.to-bottom :hover{ 
	color: #151f28; 
	background: #fff; 
}